sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.csproj.AssemblyReference.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.GeneratedMSBuildEditorConfig.editorconfig
sfmlProject/obj/project.assets.json
sfmlProject/obj/project.nuget.cache
sfmlProject/obj/project.packagespec.json
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/rider.project.restore.info
sfmlProject/obj/sfmlProject.csproj.nuget.dgspec.json
sfmlProject/obj/sfmlProject.csproj.nuget.g.props
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.csproj.AssemblyReference.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.GeneratedMSBuildEditorConfig.editorconfig
sfmlProject/obj/project.assets.json
sfmlProject/obj/project.nuget.cache
sfmlProject/obj/project.packagespec.json
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/rider.project.restore.info
sfmlProject/obj/sfmlProject.csproj.nuget.dgspec.json
sfmlProject/obj/sfmlProject.csproj.nuget.g.props
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.csproj.AssemblyReference.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.GeneratedMSBuildEditorConfig.editorconfig
sfmlProject/obj/project.assets.json
sfmlProject/obj/project.nuget.cache
sfmlProject/obj/project.packagespec.json
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/rider.project.restore.info
sfmlProject/obj/sfmlProject.csproj.nuget.dgspec.json
sfmlProject/obj/sfmlProject.csproj.nuget.g.props
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.csproj.AssemblyReference.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.GeneratedMSBuildEditorConfig.editorconfig
sfmlProject/obj/project.assets.json
sfmlProject/obj/project.nuget.cache
sfmlProject/obj/project.packagespec.json
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/rider.project.restore.info
sfmlProject/obj/sfmlProject.csproj.nuget.dgspec.json
sfmlProject/obj/sfmlProject.csproj.nuget.g.props
sfmlProject/obj/sfmlProject.csproj.nuget.dgspec.json
sfmlProject/obj/rider.project.restore.info
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/project.packagespec.json
sfmlProject/obj/project.nuget.cache
sfmlProject/obj/project.assets.json
sfmlProject/obj/Debug/net10.0/sfmlProject.sourcelink.json
sfmlProject/obj/Debug/net10.0/sfmlProject.pdb
sfmlProject/obj/Debug/net10.0/sfmlProject.genruntimeconfig.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.GeneratedMSBuildEditorConfig.editorconfig
sfmlProject/obj/Debug/net10.0/sfmlProject.dll
sfmlProject/obj/Debug/net10.0/sfmlProject.csproj.FileListAbsolute.txt
sfmlProject/obj/Debug/net10.0/sfmlProject.csproj.CoreCompileInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/refint/sfmlProject.dll
sfmlProject/obj/Debug/net10.0/ref/sfmlProject.dll
sfmlProject/obj/Debug/net10.0/apphost.exe
sfmlProject/bin/Debug/net10.0/sfmlProject.pdb
sfmlProject/bin/Debug/net10.0/sfmlProject.exe
sfmlProject/bin/Debug/net10.0/sfmlProject.dll
