sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.csproj.AssemblyReference.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.GeneratedMSBuildEditorConfig.editorconfig
sfmlProject/obj/project.assets.json
sfmlProject/obj/project.nuget.cache
sfmlProject/obj/project.packagespec.json
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/rider.project.restore.info
sfmlProject/obj/sfmlProject.csproj.nuget.dgspec.json
sfmlProject/obj/sfmlProject.csproj.nuget.g.props
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.csproj.AssemblyReference.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.GeneratedMSBuildEditorConfig.editorconfig
sfmlProject/obj/project.assets.json
sfmlProject/obj/project.nuget.cache
sfmlProject/obj/project.packagespec.json
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/rider.project.restore.info
sfmlProject/obj/sfmlProject.csproj.nuget.dgspec.json
sfmlProject/obj/sfmlProject.csproj.nuget.g.props
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.csproj.AssemblyReference.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.GeneratedMSBuildEditorConfig.editorconfig
sfmlProject/obj/project.assets.json
sfmlProject/obj/project.nuget.cache
sfmlProject/obj/project.packagespec.json
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/rider.project.restore.info
sfmlProject/obj/sfmlProject.csproj.nuget.dgspec.json
sfmlProject/obj/sfmlProject.csproj.nuget.g.props
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfo.cs
sfmlProject/obj/Debug/net10.0/sfmlProject.AssemblyInfoInputs.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.assets.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.csproj.AssemblyReference.cache
sfmlProject/obj/Debug/net10.0/sfmlProject.GeneratedMSBuildEditorConfig.editorconfig
sfmlProject/obj/project.assets.json
sfmlProject/obj/project.nuget.cache
sfmlProject/obj/project.packagespec.json
sfmlProject/obj/rider.project.model.nuget.info
sfmlProject/obj/rider.project.restore.info
sfmlProject/obj/sfmlProject.csproj.nuget.dgspec.json
sfmlProject/obj/sfmlProject.csproj.nuget.g.props
